{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "./utils/babel.js",
    // "dynamic-import-node",
    "dynamic-import-webpack",
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ]
  ]
}